body{
    background-image: url('/images/food-delivery-in-pink-oqi3x301x86i9vwl.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
/* Barra de navegacion */
.navbar{
    padding: 2rem;
    background-color: rgba(245, 246, 247,75%);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size:18px;
    font-weight: bolder;
    color: black;
}

/* .login{
    background-color: rgba(245, 246, 247,75%);
    margin: auto;
    width: auto;
    height: 100rem;
} */

.navbar-collapse{
    align-items: center;
    justify-content: center;
    margin: auto;
}

.nav-item{
    margin-right: 20px;
}

.contenedor-form-comida, .contenedor-form-cliente{
    /* background-color: rgba(245, 246, 247, 85%); */
    /* background-color: rgba(209, 231, 221, 1); */
    background-color: rgba(209, 231, 221, 90%);
    width: 500px;
    border-radius: 2%;
}

.btnSalir{
    display: inline;
    background-color:rgb(221 100 100);
}

.btnSalir:hover{
    background-color:rgb(193, 88, 88);
}

#btnAltaCliente{
   background-color:rgb(47 117 221)
}

.table{
    background-color: rgba(209, 231, 221, 90%);
}

.contenedor-form-cliente{
    margin: 15px auto;
    height: 470px;
}

.contenedor-form-comida{
    margin: 100px auto;
}

.position{
    position: absolute;
    margin: auto;
    /* margin-top: 130px;  */
}

.no-position{
    position:static;
}

.color-entrega{
    background-color: rgba(150, 215, 139, 0.92);
    
}

/* Adaptable (responsive) */
@media screen and (min-width: 1px) and (max-width: 767px) {
    .navbar-brand{
        display: none;
    }
    
    .position{
        position: absolute;
        margin: auto;
        margin-top: 5px;
    }
}

/* responsive sm */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .position{
        position: absolute;
        margin: auto;
        margin-top: 45px;
    }
}
/* responsive md */
@media screen and (min-width: 992px) and (max-width: 1004px) {
    .position{
        position: absolute;
        margin: auto;
        margin-top: 80px;
    }
}

/* responsive lg */
@media screen and (min-width: 1005px) and (max-width: 1006px) {
    .position{
        position: absolute;
        margin: auto;
        /* margin-top: 130px; */
        margin-top: 145em;
    }
}

